extends layout

block content

  .ng-cloak( ng-controller='S.IndexController' ng-class='status' )

    //- WebRTC Audio related elements
    #audio
      #mic
        svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",version="1.1",x="0px",y="0px",viewBox="0 0 512 512",enable-background="new 0 0 512 512",xml:space="preserve",xmlns:xml="http://www.w3.org/XML/1998/namespace")
          path(id="microphone-3-icon",d="M188,240.084v-122c0-37.555,30.445-68,68-68c37.556,0,68,30.445,68,68v122c0,37.555-30.444,68-68,68  C218.445,308.084,188,277.639,188,240.084z M354,205.084v35c0,54.037-43.963,98-98,98s-98-43.963-98-98v-35h-40v35  c0,68.432,50.071,125.379,115.5,136.156v45.676H176v40h160v-40h-57.5V376.24C343.929,365.463,394,308.516,394,240.084v-35H354z")
      #speaker
        svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",version="1.1",x="0px",y="0px",width="512px",height="512px",viewBox="0 0 512 512",enable-background="new 0 0 512 512",xml:space="preserve",xmlns:xml="http://www.w3.org/XML/1998/namespace")
          path(id="audio-6-icon",d="M101.912,160.741h53.249c-22.202,48.31-22.202,143.433,0,191.744h-53.249  c-27.252,0-39.657-16.622-45.934-42.636c-7.719-31.993-8.042-71.663-0.512-104.017C61.589,179.529,73.195,160.741,101.912,160.741z   M462,256.094c0.077,133.567-52.285,213.965-101.802,197.329c-12.891-4.332-159.136-92.793-159.136-92.793  c-33.137-36.926-33.137-171.11,0-208.036c0,0,152.367-91.086,158.81-93.688C404.64,40.823,461.93,122.428,462,256.094z   M399.822,134.243c-17.503-37.66-44.003-37.025-61.177,0.031c-9.793,21.139-16.534,46.543-20.127,73.689h8.762  c26.4,0,47.8,21.41,47.8,47.822c0,26.413-21.399,47.825-47.8,47.825h-8.549c3.612,26.66,10.252,52.324,20.048,74.809  c16.453,37.76,45.026,37.119,61.177-0.037C432.315,303.907,429.41,197.903,399.822,134.243z")

    .media
      #trailers
        video.trailer( ng-repeat='game in games', autoplay='true', loop='true', ng-src='{{game.video}}', ng-class='{ current: currentGame == game}')

      canvas#emulator( width=256 height=240 )

    .meta
      a#play.status( ng-show="status == 'select'", ng-click='play()' ) PLAY
      #waiting.status( ng-show="status == 'waiting'" ) WAITING FOR PLAYER 2

      #instructions
        p
          |Press
          span.key Z
          |for
          span.button A
        p
          |Press
          span.key X
          |for
          span.button B

        p
          |Press
          span ENTER
          |for
          span.special start

        p
          |Press
          span CTRL
          |for
          span.special select

        p
          |And
          span ARROWS
          |for
          span.special +



      #current
        svg( height="64", version="1.1", width="64", xmlns="http://www.w3.org/2000/svg",
             viewBox="0 0 64 64", ng-click='left()', class='arrow shift {{direction == "left" && "left"}}' )
          g: path(fill="none",stroke-width="5",stroke="#fff",d="M48.592939,9.792208C48.592939,9.792208,15.407061999999996,31.887987,15.407061999999996,31.887987C15.407061999999996,31.887987,48.592939,54.025974,48.592939,54.025974")
        span#name( ng-click='right()' ) {{currentGame.name}}
        svg( height="64", version="1.1", width="64", xmlns="http://www.w3.org/2000/svg",
             viewBox="0 0 64 64", ng-click='right()', class='arrow shift {{direction == "right" && "right"}}' )
          g: path(fill="none",stroke-width="5",stroke="#fff",d="M15.407061999999996,9.792208C15.407061999999996,9.792208,48.592939,31.887987,48.592939,31.887987C48.592939,31.887987,15.407061999999996,54.025974,15.407061999999996,54.025974")
