doctype 5
html
  head
    title SweetN.ES
    != css('application')
    script(src="/scripts/build.js")
    script(src="//use.typekit.net/jyo4lba.js")
    script
      try{Typekit.load();}catch(e){};
      window.mousetrap = require('mousetrap');
      window.event = require('event');

  body
    block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    != js('application')
    block script
