doctype 5
html
  head
    title SweetN.ES
    != css('application')
  body
    block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    != js('application')
    block script
