doctype 5
html
  head
    title SweetN.ES
    != css('application')
    script(src="/scripts/build.js")
    script
      var k = require('k')(window);

  body
    block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    != js('application')
    block script
