extends layout

block content
  #emulator

block script
  script
    S.pair("#{room}", function(socket, master) {
      var nes= new JSNES({
          'swfPath': '/audio/',
          'ui': $('#emulator').JSNESUI({
            Working: [ ['Contra', '/roms/Contra.nes'] ]
          })
        })

      if (master) {
        console.log("Starting master", socket)
        S.nes = new S.MasterNes(nes, socket)
      } else {
        console.log("Starting slave", socket)
        S.nes = new S.SlaveNes(nes, socket)
      }
    })
