extends layout

block script
  script
    S.pair(1, function(socket, master) {
      conn = socket.conn
      conn.on('data', function(data) { console.log(data) });
      if (master) {
        for (var i = 0; i < 10; i++)
          conn.send({ n: i, payload: Array(1) });
        for (var i = 0; i < 2; i++)
          conn.send({ n: i, payload: Array(25000) });
        for (var i = 0; i < 10; i++)
          conn.send({ n: i, payload: Array(2) });
      }
    });
