@import 'vendor/normalize.css'
@import 'nib'

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important;

html
  height: 100%
  width: 100%
  box-sizing: border-box

body
  height: 100%
  width: 100%
  background: #111
  text-rendering: optimizeLegibility
  color: white
  overflow: hidden

  color: white
  font-family: "source-sans-pro", sans-serif

.arrow
  position: relative
  top: 5px
  opacity: 0.7
  margin-right: 50px
  cursor: pointer
  & ~ &
    margin-right: 0
    margin-left: 50px

path
  color: white

.trailer
  height: 100%;
  width: 100%
  background-repeat: no-repeat;
  background-size: 110% 110%;
  opacity: 0
  position: absolute
  top: 0
  left: 0
  transition: opacity 1s
  -webkit-filter: blur(10px)
  &.current
    opacity: 0.3

#emulator
  opacity: 0
  image-rendering: optimizeSpeed             // Older versions of FF
  image-rendering: -moz-crisp-edges          // FF 6.0+
  image-rendering: -webkit-optimize-contrast // Webkit
                                             //  (Safari now, Chrome soon)
  image-rendering: -o-crisp-edges            // OS X & Windows Opera (12.02+)
  image-rendering: optimize-contrast         // Possible future browsers.
  -ms-interpolation-mode: nearest-neighbor   // IE

#play
  cursor: pointer
  text-decoration: none

.status
  font-size: 70px
  font-weight: bold
  border: 5px solid white
  padding: 0 1ex
  margin: 0 auto
  text-align: center
  margin-top: 150px
  display: inline-block
  opacity: .7
  user-select: none
  transition: opacity .5s
  position: relative

#play:hover
  opacity: 1

.media
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  text-align: center

.meta
  text-align: center
  margin: 0 auto
  #name
    font-family: "source-sans-pro", sans-serif
    font-weight: 100
    cursor: pointer

#current
  font-size: 5em
  font-weight: bold
  font-family: helvetica
  color: white
  margin-top: 150px
  opacity: 0.7
  white-space: nowrap

.shift
  &.left
    animation-name: shift-left
    animation-duration: 0.5s
  &.right
    animation-name: shift-right
    animation-duration: 0.5s

.playing
  .media
    #trailers
      opacity: 0
      transition: opacity .5s
    #emulator
      opacity: 1
      transition: opacity .5s
      width: auto
      margin-top: 15%
      height: 60%
  .meta
    opacity: 0
    transition: opacity .5s

@keyframes shift-left
  0%
    left: 0
  50%
    left: -20px
  100%
    left: 0

@keyframes shift-right
  0%
    right: 0
  50%
    right: -20px
  100%
    right: 0

#next
  position: absolute

#info
  width: 300px
  position: absolute
  right: 0
  border-left: 2px solid white

#instructions
  text-align: center
  margin-bottom: 70px

  .button, .key
    display: inline-block
    width: 20px
    height: 20px
    border: 2px solid white
    text-align: center
    font-weight: bold
    padding: 5px
    line-height: 21px
    margin: 0 15px

  .button
    border-radius: 20px

  .key
    border-radius: 5px


#audio
  position: relative;
  z-index: 1
  svg
    display: block
    height: 74px
    margin: 0 auto
    fill: white

  div
    border: 3px solid white
    border-radius: 1000px
    height: 74px
    opacity: 0
    width: 74px
    cursor: pointer
    margin-top: 300px
    transition: opacity 1s, border-color 0.3s
    z-index: 1000;

    &.mute
      border-color: red

    .waiting &#mic, .waiting &#speaker
      opacity: 0.2

    .playing &#mic, .playing &#speaker
      transition: opacity 0.1s
      opacity: 0.2

    &#mic
      float: left
      margin-left: 50px
      svg
        width: 50px
        path
          width: 28px
          height: 42px

    &#speaker
      float: right
      margin-right: 50px
      svg
        width: 40px
      path
        height: 34px
        width: 34px

#waiting
  animation: expand-padding ease-in-out 500ms infinite alternate

@keyframes expand-padding
  from
    opacity: .7
  to
    opacity: .9

