@import 'vendor/normalize.css'

@import 'nib'
@import '_variables'


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important;

html
  height: 100%
  width: 100%
  box-sizing: border-box

body
  height: 100%
  width: 100%
  background: #111
  text-rendering: optimizeLegibility
  color: white

  color: white
  font-family: "source-sans-pro", sans-serif

.arrow
  position: relative
  top: 5px
  opacity: 0.7
  margin-right: 50px
  cursor: pointer
  & ~ &
    margin-right: 0
    margin-left: 50px

path
  color: white

.trailer
  height: 100%;
  width: 100%
  background-repeat: no-repeat;
  background-size: 110% 110%;
  opacity: 0
  position: absolute
  top: 0
  left: 0
  transition: opacity 1s
  &.current
    opacity: 0.3

#emulator
  display: none

#play
  cursor: pointer
  text-decoration: none
  font-size: 70px
  font-weight: bold
  border: 5px solid white
  padding: 0 10px
  margin: 0 auto
  text-align: center
  width: 200px
  margin-top: 150px
  display: block
  opacity: 0.7
  user-select: none
  transition: opacity 0.5s

#play:hover
  opacity: 1

#name
  font-family: "source-sans-pro", sans-serif
  font-weight: 100
  cursor: pointer

#current
  text-align: center
  font-size: 5em
  font-weight: bold
  font-family: helvetica
  color: white
  margin-top: 150px
  opacity: 0.7
  white-space: nowrap

.shift
  &.left
    animation-name: shift-left
    animation-duration: 0.5s
  &.right
    animation-name: shift-right
    animation-duration: 0.5s

@keyframes shift-left
  0%
    left: 0
  50%
    left: -20px
  100%
    left: 0

@keyframes shift-right
  0%
    right: 0
  50%
    right: -20px
  100%
    right: 0

#next
  position: absolute

#info
  width: 300px
  position: absolute
  right: 0
  border-left: 2px solid white

#instructions
  text-align: center
  margin-bottom: 70px

  .button, .key
    display: inline-block
    width: 20px
    height: 20px
    border: 2px solid white
    text-align: center
    font-weight: bold
    padding: 5px
    line-height: 21px
    margin: 0 15px

  .button
    border-radius: 20px

  .key
    border-radius: 5px


#audio
  svg
    display: block
    height: 74px
    margin: 0 auto
    fill: white

  div
    border: 3px solid white
    border-radius: 1000px
    height: 74px
    opacity: 0.5
    width: 74px

    &#mic
      float: left
      margin-left: 50px
      svg
        width: 50px
        path
          width: 28px
          height: 42px

    &#speaker
      float: right
      margin-right: 50px
      svg
        width: 40px
      path
        height: 34px
        width: 34px

